# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python 
*.pyc

# log
*.log*

# ctags
/source/tags

# swp files
*.swp

# data
/data
